<!DOCTYPE html>
<html layout:decorate="~{layouts/default}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title th:text="#{book.list}">Update book</title>
</head>
<body>
<section layout:fragment="app-content">
    <div class="header-h1 header-h1-left">
        <h1 th:text="#{book.update}">Book update</h1>
    </div>
    <div class="col-md-6">
        <form action="#" method="post" th:action="@{/book/{id}/edit(id=${book.getId()})}"
              th:object="${book}">
            <div class="form-group col-md-6">
                <label class="col-form-label" for="name">Name</label>
                <input class="form-control" id="name" placeholder="name" th:field="*{name}" type="text">
                <span class="text-danger" th:errors="*{name}" th:if="${#fields.hasErrors('name')}"></span>
            </div>
            <div class="form-group col-md-6">
                <label class="col-form-label" for="isbn">ISBN</label>
                <input class="form-control" id="isbn" placeholder="ISBN" th:field="*{isbn}" type="text">
                <span class="text-danger" th:errors="*{isbn}" th:if="${#fields.hasErrors('isbn')}"></span>
            </div>
            <div class="form-group col-md-6">
                <label class="col-form-label" for="pageCount">Page count</label>
                <input class="form-control" id="pageCount" placeholder="pageCount" th:field="*{pageCount}"
                       type="number">
                <span class="text-danger" th:errors="*{pageCount}" th:if="${#fields.hasErrors('pageCount')}"></span>
            </div>
            <div class="form-group col-md-6">
                <label class="col-form-label" for="year">Year</label>
                <input class="form-control" id="year" placeholder="Year" th:field="*{year}" type="number">
                <span class="text-danger" th:errors="*{year}" th:if="${#fields.hasErrors('year')}"></span>
            </div>

            <div class="form-group   col-md-6">
                <label for="genres" class="control-label" th:text="#{book.header.genres}">Select genres</label>
                <select id="genres"
                        name="genres"
                        multiple="multiple"
                        th:field="*{genres}">
                    <option th:each="genre : ${allGenres}"
                            th:value="${genre.id}"
                            th:text="  ${genre.name} "
                            th:selected="${book.getGenres().contains(genre)}"></option>
                    <option th:remove="all">Genre1</option>
                    <option th:remove="all">Genre2</option>
                    <option th:remove="all">Genre3</option>
                </select>
            </div>
            <div class="form-group   col-md-6">
                <label for="authors" th:text="#{buttons.authors}">Select Authors</label>
                <select id="authors"
                        name="authors"
                        multiple="multiple"
                        th:field="*{authors}">
                    <option th:each="author : ${allAuthors}"
                            th:value="${author.id}"
                            th:text="${author.name}"
                            th:selected="${book.getAuthors().contains(author)}"
                    ></option>
                    <option th:remove="all">Author1</option>
                    <option th:remove="all">Author2</option>
                    <option th:remove="all">Author3</option>
                </select>
            </div>


            <div class="row">
                <div class="btn-group">
                    <a class="btn btn-primary" href="../" th:text="#{buttons.back}">Back</a>
                    <input class="btn btn-primary" th:value="#{buttons.edit}" type="submit" value="Update">
                </div>
            </div>
        </form>
    </div>
    <script>
        $('#birth').datepicker({
            format: "yyyy-mm-dd",
            autoclose: true
        });
    </script>
</section>
</body>
</html>
