<!DOCTYPE html>
<html lang="ru"
      layout:decorate="~{layouts/default}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{genre.list}">Genre list</title>
</head>
<body>
<section layout:fragment="app-content">
    <div class="header-h1 header-h1-left">
        <h1 th:text="#{buttons.add.genre}">Genre add</h1>
    </div>
    <!--/*@thymesVar id="genre" type="ru.geracimov.otus.spring.hw14librarymvc.domain.Genre"*/-->
    <form action="#" method="post" th:action="@{/genre/add}" th:object="${genre}">
        <div class="form-group col-md-6">
            <label class="col-form-label" for="name" th:text="#{genre.header.name}">Name</label>
            <input class="form-control" id="name" placeholder="name" th:field="*{name}" type="text">
            <span class="text-danger" th:errors="*{name}" th:if="${#fields.hasErrors('name')}"></span>
        </div>
        <div class="btn-group">
            <a class="btn btn-primary" href="../" th:text="#{buttons.back}">Back</a>
            <input class="btn btn-primary" th:value="#{buttons.add}" type="submit" value="Add Genre">
        </div>
    </form>
    <script>
        $('#birth').datepicker({
            format: "yyyy-mm-dd",
            autoclose: true
        });
    </script>
</section>
</body>
</html>
