<!DOCTYPE html>
<html lang="ru"
      layout:decorate="~{layouts/default}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{review.list}">Reviews list</title>
    <script src="/static/js/app.js" th:src="@{/js/app.js}" type="text/javascript"></script>
</head>
<body>
<section layout:fragment="app-content">
    <div class="header-h1 header-h1-left">
        <h1 th:text="#{review.list}">Review's list</h1>
    </div>
    <form method="post" action="#" id="mainForm">

        <div class="review" style="border-bottom: #4e555b dashed medium; padding-bottom: 1.5rem;
" th:each="review : ${allReviews}">
            <div class="name" th:text="${review.getReviewerName()}">Name</div>
            <span class="date" th:text="${review.getDateTime()}">Date</span>
            <div class="bookname" th:text="${review.getBook().name}">On book</div>
            <div class="col-12" th:text="${review.text}">Text</div>
            <div class="btn-group">
                <a class="btn disabled" href="#" th:href="@{/review/{id}/edit(id=${review.getId()})}"
                   th:text="#{buttons.edit}">Edit</a>
                <a href="#" class="btn btn-danger"
                   th:text="#{buttons.delete}"
                   th:reviewId="${review.getId().toString()}"
                   onclick="onClickDelete(this.getAttribute('reviewId'),'review')">Delete
                </a>
            </div>
        </div>
    </form>
    <div class="row">
        <a class="btn btn-primary" href="/review/add" th:text="#{buttons.add}">Add</a>
    </div>
</section>
</body>
</html>
